[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
pylint = "*"
pylint-django = "*"
yapf = "*"
django-braces = "*"

[requires]
python_version = "3.7"
